---
# This is the storage key for an azure files storageaccount that has already been created
# kubectl create secret generic azure-files-secret --from-literal=azurestorageaccountname=k8sstor --from-literal=azurestorageaccountkey=V2pyNtoWlt3tu8rHoxQWzFG2XlaialM4wpqMi/XQbkp7iWFReGhbXWzdM+vS7zo427XaOoGcV/TqhiWsSanL3w== --dry-run=client -o yaml
apiVersion: v1
data:
  azurestorageaccountkey: "{{ azurestorageaccountkey  | b64encode }}"
  azurestorageaccountname: "{{ azurestorageaccountname  | b64encode }}"
kind: Secret
metadata:
  creationTimestamp: null
  name: azure-files-secret
  namespace: {{ service_namespace }}
