apiVersion: v1
kind: Secret
metadata:
  name: database-secrets
  namespace: {{ service_namespace }}
type: Opaque
data:
  DigiCertGlobalRootCA.crt.pem:  "{{ lookup('file', 'DigiCertGlobalRootCA.crt.pem') | b64encode }}"
  dbconnect.php: {{ redcap_db_credentials | b64encode}} 
